.multi_select_box {
    width: 400px;
    margin: 80px auto;
}

.multi_select_box select {
    width: 100%;
}

.multi_select_box button {
    background-color: dardblue i !important;
    color: #fff !important;
    padding: 15px 25px;
}